<?xml version="1.0" encoding="UTF-8"?>

<mapper xmlns="http://mybatis.tupurpcheung.cn/mybatis/1.0/mapper"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://mybatis.tupurpcheung.cn/mybatis/1.0/mapper ../../main/resources/xsd/mybatis-mapper.xsd"
        namespace="cn.tupurpcheung.mybatis.version1.mapper.UserMapper">
    <select id="queryUserName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id, userId, userHead, createTime
        FROM user
        where id = #{id}
    </select>

</mapper>